.wrapper {
    margin: 20px 20px;
}

.dragdrop {
    width: 100%;
    height: 95vh;
    border: dashed 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: aliceblue;
}

.dragTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigate {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.sort {
    font-size: 16px;
    font-weight: inherit;
}
